@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Roboto&display=swap');


* {
    font-family: Helvetica;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: none;
}

body {
    color: #ffffff;
    background-color:#141414;
}